body{
    margin: 0px;
    background:rgb(223, 228, 232);
    font-family:'Courier New', Courier, monospace;
}

header {
    background-color: rgb(77, 63, 81);
    color:rgb(235, 250, 255);
    text-align: center;
    padding: 1rem;

}

header a {
    color:rgb(170, 216, 216);
    padding: 1rem;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: center;
}

main h2 {
    text-align: center;
}

figure {
    border: .5rem solid white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.474);
    
}

footer {
    background-color: rgb(77, 63, 81);
    color:rgb(235, 250, 255);
}

ul {
    list-style: none;
    display:flex;
    justify-content: center;
    padding: 0;
}

nav h2 {
    display: none;
}

img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    display: block;
}

button {
    background: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(235, 250, 255);
    font-size: 1rem;
}

.viewer {
    display: grid;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    top:0;
    left:0;
    bottom:0;
    right:0;
    grid-template-columns: max-content;
    justify-content: center;
}
.viewer img {
    height: revert;
    width: revert;
    position: fixed;
    max-width: 92%;
    right: 4%;
    left: 4%;
    top: 10%;
    position: fixed;
}
.viewer button {
    position: fixed;
    top:7%;
    right:4%;
}

.hide {
    display: none;
}

@media screen and (max-width: 1000px) {
    .gallery{
        grid-template-columns: max-content max-content;
    }
}


@media screen and (max-width: 600px) {
    .gallery{
        grid-template-columns: max-content;
    }
}

@media screen and (max-width: 500px) {
    ul {
        display: inline;
    }
    ul li {
        padding: .5rem;
    }
    nav h2 {
        display: inline;
    }
    .gallery {
        grid-template-columns: max-content;
    }
}

